.bg-white {
  background-color: white;
}
.bg-dark {
  background-color: black;
}
.bg-dark {
  background-color: black;
}
.d-flex {
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.align-self-start{
  align-self: flex-start;
}
.align-self-end{
  align-self: flex-end;
}

.text-primary {
  color: #15161d;
}
.text-secondary {
  color: #d1d1d1;
}
.text-white {
  color: white;
}
.text-end {
  text-align: right;
}
